<header>
	<nav class="navbar navbar-expand-lg" style="background-color: #1E152A; color: white;">
		<div class="container-fluid">
			<img src="/images/logoZapFeed.png" alt="Logo ZapFeed" style="height: 40px; object-fit: contain;" class="me-2">
			<a class="navbar-brand me-3 text-white" href="/">ZapFeed</a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse justify-content-center" id="navbarScroll">
				<ul class="navbar-nav my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
					<form class="d-flex me-3" role="search">
						<input class="form-control me-2" type="search" placeholder="Catégorie(s), article(s), ..." aria-label="Search">
						<button class="btn btn-outline-success" type="submit">Rechercher</button>
					</form>
				</ul>
			</div>

			{% if app.user %}
				<a class="nav-link ms-3" href="{{ path('app_logout') }}">Logout</a>
        	{% else %}
				<a class="nav-link ms-3" href="{{ path('app_login') }}">Se connecter</a>
        	{% endif %}
		</div>
	</nav>
</header>