<aside
	id="mySidebar" class="d-flex flex-column shadow-sm" style="width: 200px; transition: width 0.3s; background-color: rgb(222, 222, 222); ">
	{# position: fixed; top: 56px; left: 0; z-index: 0; height: calc(100vh - 70px); #}
	<div class="d-flex align-items-center mt-3">
		<span class="me-2 text-dark" style="font-size: 1.5rem; text-align: center; width: 60px;">🆕</span>
		<a href="/feed/new" class="text-decoration-none fw-bold text-dark sidebar-text" style="font-size: 1.1rem;">
			Nouveaux flux
		</a>
	</div>

	<hr class="border-dark opacity-50 w-100 mt-3"/>

	<div class="mt-3">
		<h5 class="fw-bold text-dark sidebar-text">Mes flux</h5>
		{# <ul class="list-unstyled mt-2">
			<li class="mb-3 d-flex align-items-center">
				<span class="me-2 text-dark" style="font-size: 1.5rem; text-align: center; width: 60px;">📂</span>
				<a href="#flux1" class="text-decoration-none text-dark sidebar-text">
					Flux 1
				</a>
			</li>
			<li class="mb-3 d-flex align-items-center">
				<span class="me-2 text-dark" style="font-size: 1.5rem; text-align: center; width: 60px;">📂</span>
				<a href="#flux2" class="text-decoration-none text-dark sidebar-text">
					Flux 2
				</a>
			</li>
			<li class="mb-3 d-flex align-items-center">
				<span class="me-2 text-dark" style="font-size: 1.5rem; text-align: center; width: 60px;">📂</span>
				<a href="#flux3" class="text-decoration-none text-dark sidebar-text">
					Flux 3
				</a>
			</li>
		</ul> #}
	</div>
</aside>

<script>// const sidebar = document.getElementById("mySidebar");
// const sidebarText = document.querySelectorAll(".sidebar-text");

// function openSidebar() {
// sidebar.style.width = "200px";
// sidebarText.forEach((item) => (item.style.display = "inline"));
// }

// function closeSidebar() {
// sidebar.style.width = "100px";
// sidebarText.forEach((item) => (item.style.display = "none"));
// }

// sidebar.addEventListener("mouseover", openSidebar);
// sidebar.addEventListener("mouseout", closeSidebar);</script>
